.cube {
  position: absolute;
  width: 20px;
  height: 20px;
  transform-style: preserve-3d;
  z-index: 10;
}

.face {
  position: absolute;
  width: 20px;
  height: 20px;
  /* background-color: oklch(69.6% 0.17 162.48 / 70%); */
  background-color: #065f46;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* Correct 3D positioning (remember this!) */
.front {
  transform: translateZ(10px);
}
.back {
  transform: translateZ(-10px) rotateY(180deg);
}
.right {
  transform: translateX(10px) rotateY(90deg);
}
.left {
  transform: translateX(-10px) rotateY(-90deg);
}
.top {
  transform: translateY(-10px) rotateX(90deg);
}
.bottom {
  transform: translateY(10px) rotateX(-90deg);
}

.cube-ground-rotator {
  position: relative;
  width: 20px;
  height: 20px;
  transform-style: preserve-3d;
  /* transform-origin: center bottom; */
  /* Grounded rotation */
  transform: rotateX(0deg);

  animation: cube-ground-tilt 2s ease-in-out infinite;
}
.cube-ground-rotator::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 60px;
  height: 6px;
  background: rgba(0, 0, 0, 0.3);
  filter: blur(6px);
  transform: translateX(-50%);
}

.cube-wrapper {
  position: relative;
  display: inline-block;
  /* transform-origin: right bottom; */
  z-index: 0;
  animation: cube-move-right 2s linear forwards;
}

.cube-intro {
  animation: cube-ground-tilt 2.5s linear forwards;
}

.cube-idle {
  transform: rotateX(-10deg) rotateZ(360deg);
  animation: cube-idle-spin 10s linear alternate;
}

.cube-scale {
  transform: scale(3);
  transform-style: preserve-3d;
}

@keyframes cube-idle-spin {
  0% {
    transform: rotateX(-15deg) rotate3d(0, 0, 0, 360deg);
  }
  100% {
    transform: rotateX(-15deg) rotate3d(0.5, 0.7, 1, 700deg);
  }
}

@keyframes ground-spin {
  from {
    transform: rotateX(65deg) rotateY(0deg);
  }
  to {
    transform: rotateX(65deg) rotateY(360deg);
  }
}

@keyframes cube-ground-tilt {
  0% {
    transform: rotateX(-15deg) rotateY(0deg) rotateZ(0deg);
  }
  /* 25% {
    transform: rotateX(-15deg) rotate3d(0, 0, 1, 90deg);
  }
  50% {
    transform: rotateX(-15deg) rotate3d(0, 0, 1, 180deg);
  }
  75% {
    transform: rotateX(-15deg) rotate3d(0, 0, 1, 270deg);
  } */
  100% {
    transform: rotateX(-15deg) rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes cube-move-right {
  0% {
    transform: translateX(-250px);
  }
  /* 25% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(130px);
  }
  75% {
    transform: translateX(260px);
  } */
  100% {
    transform: translateX(300px);
  }
}
