.cube {
  position: absolute;
  width: 20px;
  height: 20px;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: oklch(69.6% 0.17 162.48 / 70%);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* Correct 3D positioning (remember this!) */
.front {
  transform: translateZ(10px);
}
.back {
  transform: translateZ(-10px) rotateY(180deg);
}
.right {
  transform: translateX(10px) rotateY(90deg);
}
.left {
  transform: translateX(-10px) rotateY(-90deg);
}
.top {
  transform: translateY(-10px) rotateX(90deg);
}
.bottom {
  transform: translateY(10px) rotateX(-90deg);
}
